body{
  text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Merriweather', serif;
}

h4, h3, p {
    font-family: 'PT Serif', serif;
}

/*Title Section*/

#title{
  background-image: linear-gradient(#E9D8A6, #EE9B00);
}

.frontpage{
    text-align: center;
    color: white;
    padding: 2% 3%;
}

.pen-logo{
    margin-right: 30px;
}

.logo{
    margin-left: 30px;
}

.nav-brand{
  font-size: 45px;
}

.nav-link{
  font-size: 20px;
}

.title-img{
  width: 50px;
  height: 100%;

}
