body{
  text-align: center;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Merriweather', serif;
}

h4, h3, p {
    font-family: 'PT Serif', serif;
}

/*Title Section*/

.frontpage{
    text-align: center;
    color: white;
    padding: 2% 3%;
}

.nav{
  padding-left: 20%;
  padding-right: 20%;
}

.pen-logo{
    margin-right: 30px;
}

.logo{
    margin-left: 30px;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 100px;
  margin-right:100px;
  border-radius: 30px;
  border: solid white 3px;
}

.nav-brand{
  font-size: 45px;
}

.nav-link{
  font-size: 20px;
}

.title-img{
  width: 50px;
  height: 100%;

}
